.header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 54px;
  }
  &__logo {
    height: 52px;
    width: 107px;
  }
}
@include tablet() {
  .header {
    &__logo {
        margin-bottom: 78px;
    }
  }
}

@include desktop() {
  .header {
    &__wrapper {
      justify-content: flex-start;
      padding-left: 74px;
    }
    &__logo {
      height: auto;
      width: 180px;
      margin-bottom: 44px;
    }
  }
}
