.split {
    background: url('assets/images/split-bg.jpg') no-repeat;
    background-position-x: 82%;
    background-size: cover;
    &__content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10%;
    }
    &__wrapper {
        display: grid;
        grid-template-rows: [title] auto [content] auto [image] auto [newsletter] auto;
        grid-template-areas: "title" "description" "main-image" "newsletter";
        padding: 54px 0 58px;
    }
    &__title-wrap {
       grid-area: title;
       max-width: 320px;
       margin: 0 auto 46px;
    }
    &__title {
        text-align: center;
        font-family: $avenir-lite;
        font-size: 38px;
        line-height: 1.05;
        color: $text-gray;
        span {
            font-family: $avenir-demi;
        }
    }
    &__description {
        display: inline;
        grid-area: description;
        padding: 0 6%;
        &-item {
            position: relative;
            display: flex;
            margin-bottom: 34px;
            font-family: $source-regular;
            font-size: 16px;
            line-height: 23px;
            color: $text-light-gray;
            .dott-container {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &-item:last-of-type {
            margin-bottom: 59px;
        }
        &-dott {
            position: relative;
            display: inline-block;
            height: 16px;
            width: 16px;
            margin: 5px 15px 0;
            background-color: rgba(23, 185, 147, 0.3);
            border-radius: 50%;
        }
        &-dott:after {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            height: 6px;
            width: 6px;
            background-color: $green;
            border-radius: 50%;
        }
    }
    &__main-image {
      grid-area: main-image;
      text-align: center;
    }
    &__cards-image {
        height: 173px;
        width: 285px;
        margin-bottom: 58px;
    }
    &__newsletter {
        width: 100%;
        max-width: 362px;
        margin: auto;
        grid-area: newsletter;
        &-text {
            margin-bottom: 25px;
            font-family: $source-regular;
            font-size: 14px;
            line-height: 1.15;
            color: $light-gray;
            text-align: center;
        }
        &-input {
            display: block;
            height: 54px;
            width: 100%;
            margin-bottom: 16px;
            text-align: center;
            border-radius: 6px;
            border-color: transparent;
            font-family: $source-regular;
            font-size: 14px;
            color: $lighter-gray;
        }
        &-input:focus {
            outline: none;
        }
        &-button {
            display: block;
            height: 54px;
            width: 100%;
            padding-top: 4px;
            font-family: $avenir-cn;
            font-size: 15px;
            font-weight: bold;
            color: $white;
            background-image: linear-gradient(to top, #00b489 50%, #33c3a1);
            border-radius: 6px;
            letter-spacing: 0.4px;
            border: none;
        }
    }
    // Footer section
    &__footer {
        background-color: $white;
        &-wrapper {
            display: flex;
            flex-flow: column;
            align-items: center;
            padding: 53px 0 50px;
        }
        &-logo {
            height: 59px;
            width: 73px;
            margin-bottom: 22px;
        }
        &-info {
            margin-bottom: 55px;
            font-family: $source-regular;
            font-size: 12px;
            line-height: 1.67;
            color: $light-gray;
        }
        &-social {
            display: flex;
            flex-flow: row;
            &-container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                background-color: $green;
                border-radius: 50%;
            }
            &-container:first-of-type {
                margin-right: 22px;
            }
        }
    }
}

@include tablet() {
    .split {
      height: auto;
      min-height: 90%;
      background-position-x: 90%;
        &__wrapper {
            padding: 0px 8% 60px;
        }
        &__title-wrap {
          max-width: 350px;
          width: 70%;
          margin: 0 auto;
        }

        &__title {
            width: 100%;
            margin-bottom: 52px;
            font-size: 54px;
            text-align: center;
        }
        &__content {
          padding:  0 9%;
        }
        &__description {
            display: flex;
            flex-wrap: wrap;
            max-width: 620px;
            padding: 0 0px 44px;
            margin:  0 auto;
            &-item {
                width: 46%;
                margin-right: 4%;
            }
            &-item:last-of-type {
                margin-bottom: 34px;
            }
        }
        &__main-image {
          text-align: center;
        }
        &__cards-image {
            height: 304px;
            width: 497px;
            margin-bottom: 58px;
        }
        &__newsletter {
          margin: 0 auto;
        }

        &__footer {
            &-wrapper {
                display: grid;
                grid-template-columns: 84px 123px 1fr 102px;
                grid-auto-rows: 140px;
                padding: 0 50px;
            }
            &-logo {
                height: 50px;
                width: 62px;
                margin-bottom: 0;
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &-info {
                margin-bottom: 0;
                grid-column-start: 2;
                grid-column-end: 3;
            }
            &-social {
                grid-column-start: 4;
                grid-column-end: 5;
            }
        }
    }
}

@include desktop() {
  .split {
    height: auto;
    min-height: 85%;
    width: 100%;
    padding: 0%;
    &__wrapper {
      grid-template-columns: 600px [main-image] 100px [margin-col] 540px [content];
      grid-template-rows: [first-row] auto [second-row] auto [newsletter] auto;
      grid-template-areas: " main-image . title"
                            " main-image . description"
                            " main-image . newsletter";
      padding: 0px 0% 60px;
    }
    &__title-wrap {
      width: 100%;
      margin: 0;

    }
    &__title {
      text-align: left;

    }
    &__description {
      padding: 0 0 44px;
      &-dott {
        margin: 5px 15px 0 0;
      }

    }
    &__main-image {
        margin-top: 40px;
    }
    &__cards-image {
      height: 367px;
      width: 593px;
    }
    &__newsletter {
      margin: 0;
      max-width: 100%;
     &-text {
       text-align: left;
     }
     &-input {
       width: 270px;
       text-align: left;
       padding-left: 28px;

     }
     &-button {
       width: 140px;
       margin-left: 8px;
     }
    }
    &__footer {
      height: 140px;
        &-wrapper {
            padding: 0 76px;
        }
    }
  }
  form {
    display: flex;
  }
}

@include desktop-lg() {
  .split {
    &__content {
      margin-top: 2%;
    }
  }
}
@include desktop-xlg() {
  .split {
    height: calc(100vh - 140px );
    &__content {
      margin-top: 8%;
    }
  }
}
