/*************************************
* Brand & other color variables here *
*************************************/

// Brand colors
$white: #fff;
$black: #000;
$gray:  #424242;
$light-gray: #6e6e6e;
$lighter-gray: #9d9fa2;
$green: #17b993;


// Text colors
$text-white: $white;
$text-black: $black;
$text-gray: $gray;
$text-light-gray: $light-gray;


